<div id="layoutAuthentication">    
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">Register</h3>
                            </div>
                            <div class="card-body">
                                <form action="/register" method="POST">
                                    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputEmailAddress">Name</label>
                                        <input class="form-control py-4" name="name" id="inputFirstName" type="text"
                                            placeholder="Enter name" />
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputEmailAddress">Email</label>
                                        <input class="form-control py-4" name="email" id="inputEmailAddress" type="email"
                                            placeholder="Enter email address" />
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputRole">Role</label>
                                        <input class="form-control py-4" name="role" id="inputRole" type="text"
                                            placeholder="Enter role of the user" />
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputPassword">Password</label>
                                        <input class="form-control py-4" name="password" id="inputPassword" type="password"
                                            placeholder="Enter password" />
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputConfirmPassword">Confirm Password</label>
                                        <input class="form-control py-4z" id="inputConfirmPassword" type="password" placeholder="Confirm password" />
                                    </div>
                                    
                                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                        
                                        <button type="submit" class="btn btn-primary">Register</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center">
                                <div class="small"><a href="/login">Have an account? Go to login</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>        
    </div>
    {{> footer}}
</div>