{{> navbar}}

<div id="layoutSidenav">
    {{> sidebar}}
    <div id="layoutSidenav_content">
        <main id="admin-call-screen">
            <div class="container-fluid">
                <h1 class="mt-4">User management</h1>            
            </div>
        </main>
        {{> footer}}
    </div>
</div>