<footer class="py-1 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Your Website 2020</div>
        </div>
    </div>
</footer>

<script>
    function changeOffline() {
        $.ajax({
            url: '/api/admins/change-online-status',
            method: 'PUT',
            data: {
                admin_id: '{{user._id}}',
                name: '{{user.name}}',
                status: "offline"
            },
            success: function (result) {

            }
        });
    }
</script>