<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-light bg-light" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Communication</div>
                <a class="nav-link" href="/admins/communication/calls">                    
                    Calls
                </a>

                <div class="sb-sidenav-menu-heading">User Management</div>
                <a class="nav-link" href="/admins/management/admin-users">
                    Admins users
                </a>
                <a class="nav-link" href="/admins/managements/mobile-users">
                    Mobile users
                </a>
            </div>
        </div>
    </nav>
</div>