<div id="layoutSidenav">
    
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Welcome to VoIP App</h1>
                <a href="/login">Login</a>
            </div>
        </main>        
    </div>
</div>